.button {
    -fx-background-color: #009688;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-margin: 0;
}

.text-field {
    -fx-background-color: #000000, white, white;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-margin: 0;
}

.text-field:focused {
    -fx-background-color: #009688, white, white;
    -fx-background-insets: 0 0 -2 0, 0 0 0 0, 0 -1 3 -1;
}

/*隐藏list-view滚动条*/
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}


/*全局字体样式*/
.root {
    -fx-font-size: 14px;
    -fx-focus-color: transparent;
}

/*按钮基础样式*/
.btn-basic {
    /*文本对齐方式*/
    -fx-text-alignment: center;
    /*合适高度*/
    -fx-pref-height: 38px;
    /*内边距*/
    -fx-padding: 0 18px;
    /*无边框*/
    -fx-border-style: none;
    /*鼠标样式*/
    -fx-cursor: pointer;
}

/*鼠标覆盖按钮效果*/
.btn-basic:hover {
    /*粗体*/
    -fx-font-weight: bold;
    /*透明度*/
    -fx-opacity: 0.8;
}

/*边框正常弧度按钮*/
.btn-radius-normal {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

/*边框圆角按钮*/
.btn-radius-large {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

/*默认主题*/
.default-theme {
    -fx-background-color: #fff;
    -fx-border-color: rgb(230, 230, 230);
    -fx-text-fill: rgb(110, 110, 110);
}

/*深灰色主题*/
.dark-gray-theme {
    -fx-background-color: rgb(58, 61, 73);
}

/*深色主题*/
.dark-theme {
    -fx-background-color: rgb(40, 43, 51);
}

/*绿色主题*/
.green-theme {
    -fx-background-color: #009688;
    -fx-text-fill: #fff;
}

/*灰色主题*/
.gray-theme {
    -fx-background-color: rgb(210, 210, 210);
    -fx-text-fill: #fff;
}

/*警告色主题*/
.warning-theme {
    -fx-background-color: rgb(254, 87, 34);
    -fx-text-fill: #fff;
}

/*暖色主题*/
.warm-theme {
    -fx-background-color: rgb(254, 184, 0);
    -fx-text-fill: #fff;
}

/*蓝色主题*/
.blue-theme {
    -fx-background-color: rgb(30, 158, 255);
    -fx-text-fill: #fff;
}

/*内容盒子样式，设置一下圆角和内边距*/
.box {
    -fx-border-color: rgb(162, 162, 162);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5 5 5 5;
}

/*输入框样式*/
.input-group {
    /*对齐方式*/
    -fx-text-alignment: left;
    /*内容显示方式*/
    -fx-content-display: inline-block;
    /*合适高度*/
    -fx-pref-height: 30px;
    /*边框色*/
    -fx-border-color: rgb(230, 230, 230);
    /*提示文字颜色*/
    -fx-prompt-text-fill: rgb(162, 162, 162);
    /*输入文字颜色*/
    -fx-text-fill: rgb(110, 110, 110);
    /*边框圆角*/
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    /*内边距*/
    -fx-padding: 5 5 5 5;
    /*鼠标形状*/
    -fx-cursor: pointer;
}

/*白色字体*/
.font-white {
    -fx-text-fill: #fff;
}

/*灰色字体*/
.font-gray {
    -fx-text-fill: rgb(110, 110, 110);
}

/*标题字体*/
.font-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*复选框样式*/
.check-box .box {
    -fx-background-color: #fff;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 3px;
}

/*复选框选中后标记的颜色*/
.check-box:selected .mark {
    -fx-background-color: #fff;
}

/*复选框选中后背景色*/
.check-box:selected .box {
    -fx-background-color: rgb(95, 184, 120);
}

/*单选按钮样式*/
.radio-button .radio {
    -fx-background-color: #fff;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 100;
}

/*单选按钮中间点的颜色*/
.radio-button:selected .dot {
    -fx-background-color: #fff;
}

/*单选按钮选中后背景色*/
.radio-button:selected .radio {
    -fx-background-color: rgb(95, 184, 120);
}

/*表格内容居中显示*/
.table-view .table-column {
    -fx-alignment: center;
}

/*左侧导航菜单按钮样式*/
.menu-btn {
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-background-color: rgb(40, 43, 51);
    -fx-text-fill: rgb(191, 192, 194);
}

/*左侧导航菜单按钮鼠标悬停效果*/
.menu-btn:hover {
    -fx-background-color: rgb(95, 184, 120);
    -fx-text-fill: #fff;
}

/*风琴标题面板字体颜色*/
.titled-pane {
    -fx-text-fill: rgb(174, 175, 180);
}

/*风琴标题面板背景色*/
.titled-pane > .title {
    -fx-background-color: rgb(58, 61, 73);
    -fx-padding: 30 10 10 10;
}

